@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-brand: var(--brand);
  --color-border: var(--border);
  --radius-lg: var(--radius);
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --brand: #660000; /* Electric Blue Accent */
  --accent: #f5f5f5;
  --accent-foreground: #0a0a0a;
  --border: #e5e5e5;
  --radius: 0px; /* Streetwear often uses sharp edges or very small radius */
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --brand: #660000;
  --accent: #1a1a1a;
  --accent-foreground: #ffffff;
  --border: #262626;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground selection:bg-brand selection:text-white antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

